# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/

# --- VSCode Specific ---
.vscode/
.history/

# --- Home Assistant / Add-on Specific ---
secrets.yaml
*.log
local_test_data.json

# --- Sensitive Credentials ---
client.crt
client.key
root.pem
*.pem
*.crt
*.key
.env
.flaskenv

# --- OS Specific ---
.DS_Store
Thumbs.db
